In [2]:
num=input("값을 입력해주세요:")

if int(num)%2==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

값을 입력해주세요:13
홀수입니다.

In [7]:
a='881120-1068234'
print(a[0:6])
print(a[7:14])

881120
1068234

In [18]:
pin = "881120-1068234"
if pin[7]=="1":
    print("남")
else:
    print("여")

남

In [20]:
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

In [26]:
a=[1, 3, 5, 4, 2]
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [29]:
a=['Life', 'is', 'too', 'short'] 
a1=" ".join(a)
a1

'Life is too short'

In [42]:
a=(1,2,3)
c=(4,0)
print(a+c)

(1, 2, 3, 4, 0)

In [43]:
a = {'A':90, 'B':80, 'C':70}
a.pop('B')

80

In [44]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set(a)

{1, 2, 3, 4, 5}

In [45]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

In [ ]:
#8번문제 못품